<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Menu</title>
</head>
<body>
   <%- include('./partials/nav') %>
   <h1><%= RESTAURANT.name  %></h1>
  <h1>Full Menu</h1>
  
<% RESTAURANT.menu.forEach((dish) => { %>
  <h3><%= dish.name%></h3>
  <p>Price: <%= dish.price %></p>
  <p>Rating: <%= dish.rating %></p>
  <p>Description: <%= dish.details %></p>
<% }); %> 

</body>
</html>
